.container {
  max-width: 1197px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 2rem 0;
}

.main {
  flex: 1;
}

.footer {
  padding: 2rem 0;
}
